<div class="container-xxl flex-grow-1 container-p-y">
	<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Trade /</span> New Trade</h4>
	<div class="row">
		<div class="col-md-8">
			<div class="card mb-4" style="height: 450px !important">
				<!-- TradingView Widget BEGIN -->
				<div class="tradingview-widget-container">
					<div class="tradingview-widget-container__widget"></div>
					<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
						{
						  "symbols": [
						    {
						      "description": "",
						      "proName": "TURQUOISE:SHELL"
						    },
						    {
						      "description": "",
						      "proName": "TURQUOISE:BARCL"
						    },
						    {
						      "description": "",
						      "proName": "TURQUOISE:RRL"
						    },
						    {
						      "description": "",
						      "proName": "TURQUOISE:BPL"
						    },
						    {
						      "description": "",
						      "proName": "TURQUOISE:BTL"
						    },
						    {
						      "description": "",
						      "proName": "TURQUOISE:TSCOL"
						    },
						    {
						      "description": "",
						      "proName": "TURQUOISE:BATSL"
						    },
						    {
						      "description": "",
						      "proName": "TURQUOISE:ULVRL"
						    }
						  ],
						  "showSymbolLogo": true,
						  "colorTheme": "light",
						  "isTransparent": false,
						  "displayMode": "regular",
						  "locale": "en"
						}
					</script>
				</div>
				<!-- TradingView Widget END -->
				<div class="card-body p-1 m-0">
					<!-- TradingView Widget BEGIN -->
					<div class="tradingview-widget-container" style="height:100%;width:100%">
						<div class="tradingview-widget-container__widget" style="height:calc(100% - 32px);width:100%"></div>
						<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
							{
							"autosize": true,
							"symbol": "FX:EURUSD",
							"interval": "D",
							"timezone": "Etc/UTC",
							"theme": "dark",
							"style": "1",
							"locale": "en",
							"enable_publishing": false,
							"allow_symbol_change": true,
							"calendar": false,
							"support_host": "https://www.tradingview.com"
							}
						</script>
					</div>
					<!-- TradingView Widget END -->
					<!-- TradingView Widget END -->
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-4">
				<%= form_with(model: [:account, @trade]) do |form| %>
					<div class="card-body">
						<% if @trade.errors.any? %>
							<div id="error_explanation">
								<div class="alert alert-danger alert-dismissible pb-1" role="alert">
									<ul>
										<% @trade.errors.full_messages.each do |message| %>
											<li><%= message %></li>
										<% end %>
										<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
									</ul>
								</div>
							</div>
						<% end %>
						<div class="mb-3">
							<%= form.label :account_type, class: "form-label" %>
							<%= form.text_field :account_type, value: "Main Account", class: "form-control", readonly: true %>
						</div>
						<div class="mb-3">
							<%= form.label :currency_pair_id, 'Currency Pair', class: "form-label" %>
							<%= form.select :currency_pair_id, options_for_select(@currency_pairs.map { |cp| ["#{cp.base_currency}/#{cp.quote_currency}", cp.id] }), { prompt: "Select Pairs"}, class: 'form-control' %>
						</div>
						<div class="mb-3">
							<%= form.label :amount, class: "form-label" %>
							<%= form.text_field :amount, class: 'form-control', placeholder: 'Enter trade amount' %>
						</div>
						<div class="mb-3">
							<%= form.label :time_duration, class: "form-label" %>
							<%= form.select :time_duration, Trade.time_durations.keys, {}, class: 'form-control' %>
						</div>
						<%= form.hidden_field :trade_type %>
						<div class="row">
							<div class="col d-flex justify-content-between mt-3">
								<div class="text-end">
									<%= form.submit 'Sell', name: 'trade_type', value: 'sell', class: 'btn btn-danger', data: {turbo: false} %>
								</div>
								<div class="text-start">
									<%= form.submit 'Buy', name: 'trade_type', value: 'buy', class: 'btn btn-success', data: {turbo: false} %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<!-- Form controls -->
	</div>
</div>
