<div class="container-xxl flex-grow-1 container-p-y">
	<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Email /</span>New Email</h4>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md mb-4 mb-md-0">
				<div class="accordion mt-3" id="accordionExample">
					<div class="row">
						<div class="col-md-6">
							<div class="card mb-4">
								<div class="card-body">
									<%= form_with(model: [:admin, @emailer], url: admin_emails_path, method: :post) do |f| %>
										<% if @emailer.errors.any? %>
											<div id="error_explanation">
												<div class="alert alert-danger alert-dismissible pb-1" role="alert">
													<ul>
														<% @emailer.errors.full_messages.each do |message| %>
															<li><%= message %></li>
														<% end %>
														<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
													</ul>
												</div>
											</div>
										<% end %>
										<div class="mb-3">
											<label for="defaultFormControlInput" class="form-label">Select User</label>
											<%= f.select :email, options_for_select(@accounts), { prompt: "Select recipient" }, class: "form-select" %>
										</div>
										<div class="mb-3">
											<label for="defaultFormControlInput" class="form-label">Subject</label>
											<%= f.text_field :subject, class: "form-control", placeholder: "Enter Email Subject" %>
										</div>
										<div class="mb-3">
											<label for="defaultFormControlInput" class="form-label">Message Content</label>
											<%= f.rich_text_area :content, class: "form-control", placeholder: "Enter your message here...", style: "min-height: 10rem !important;" %>
										</div>
										<div class="demo-inline-spacing">
											<button type="submit" class="btn btn-primary float-end" data-turbo="false">
												<span class="tf-icons bx bx-mail-send"></span>&nbsp; Send Email
											</button>
										</div>
									<% end %>
								</div>
							</div>
						</div>
						<%# photo %>
						<div class="col-md-6">
							<div class="card mb-4">
								<div class="card-body">
									phote goes in here
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
