<div class="container-xxl flex-grow-1 container-p-y">
	<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Email /</span> Sent Emails</h4>
	<div class="row">
		<div class="demo-inline-spacing">
			<a href="<%= admin_email_new_path %>" class="btn btn-primary float-end" data-turbo="false">
				<span class="tf-icons bx bx-mail-send"></span>&nbsp; Send Mail
			</a>
		</div>
		<div class="col-md-12">
			<div class="col-md mb-4 mb-md-0">
				<% if @mails.present? %>
					<% @mails.each do |mail| %>
						<div class="accordion mt-3" id="accordionExample<%= mail.id %>">
							<div class="card accordion-item">
								<h2 class="accordion-header" id="heading<%= mail.id %>">
									<button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion<%= mail.id %>" aria-expanded="false" aria-controls="accordion<%= mail.id %>">
										<%= mail.subject %> &mdash; <%= mail.email %>
									</button>
								</h2>
								<div id="accordion<%= mail.id %>" class="accordion-collapse collapse" data-bs-parent="#accordionExample<%= mail.id %>" style="">
									<div class="accordion-body">
										<%= simple_format(mail.content) %>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				<% else %>
					<div class="card mt-3">
						<p class="fs-4 mt-3 text-center">No Emails Yet</p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<%# pagination %>
	<%= render 'admin/shared/pagy', locals: {pagy: @pagy} %>
</div>
