<div class="container-xxl flex-grow-1 container-p-y">
	<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Withdrawals /</span> Declined</h4>
	<div class="row">
		<div class="card">
			<div class="col-md-3">
				<form action="">
					<div class="input-group mt-3 mb-2">
						<input type="text" class="form-control" placeholder="Search User..." aria-label="Search User..." aria-describedby="button-addon2">
						<button class="btn btn-primary" type="submit" id="button-addon2" data-turbo="false">
							<span class="tf-icons bx bx-search-alt"></span>
							Search
						</button>
					</div>
				</form>
			</div>
			<div class="table-responsive text-nowrap">
				<table class="table table-striped mb-5">
					<thead>
						<tr>
							<th>Ref No</th>
							<th>Amount</th>
							<th>Email</th>
							<th>Name</th>
							<th>Method</th>
							<th>Date</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody class="table-border-bottom-0">
						<% if @declined_withdrawals.present? %>
							<% @declined_withdrawals.each do |withdrawal| %>
								<tr>
									<td><strong><%= withdrawal.order_id %></strong></td>
									<td><%= number_to_currency(withdrawal.amount, precision: 2)  %></td>
									<td><%= withdrawal.account.email %></td>
									<td>
										<% full_name = withdrawal.account.first_name + " " + withdrawal.account.last_name %>
										<%= full_name %>
									</td>
									<td><%= withdrawal.payment_method.name %></td>
									<td><%= withdrawal.created_at.strftime("	%d-%m-%Y ") %></td>
									<td><span class="badge bg-label-secondary me-1"><%= withdrawal.status %></span></td>
									<td>
										<%= link_to  admin_withdrawal_path(withdrawal), data: {turbo: false} do %>
											<span class="btn btn-sm btn-outline-secondary">
												<span class="tf-icons bx bx-show-alt"></span>&nbsp; View
											</span>
										<% end %>
									</td>
								</tr>
							<% end %>
						<% else %>
							<tr >
								<td colspan="8" class="text-center fs-3 ">No Declined withdrawals Yet </td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<%# pagination %>
	<%= render 'admin/shared/pagy', locals: {pagy: @pagy} %>
</div>
