<div class="container-xxl flex-grow-1 container-p-y">
	<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Settings /</span> Security</h4>
	<div class="row">
		<div class="col-md-6">
			<div class="card mb-4">
				<h5 class="card-header">Change Password</h5>
				<div class="card-body">
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: {turbo: false}) do |f| %>
						<%= render "accounts/shared/error_messages", resource: resource %>
						<h3>Password should be minimum of 6 characters</h3>
						<div class="mb-3">
							<%= f.label :current_password, class: "form-label" %>
							<%= f.password_field :current_password, class: "form-control" %>
						</div>
						<div class="mb-3">
							<%= f.label :password, class: "form-label" %>
							<%= f.password_field :password, class: "form-control" %>
						</div>
						<div class="mb-3">
							<%= f.label :password_confirmation, class: "form-label" %>
							<%= f.password_field :password_confirmation, class: "form-control" %>
						</div>
						<div class="actions">
							<%= f.submit "Change Password", class: 'btn btn-primary me-2' %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card mb-4">
				<div class="card-body">
					<div class="text-center">
						<%= image_tag "https://cdn-icons-png.flaticon.com/512/6195/6195699.png", class: "image-fluid", width: "60%" %>
					</div>
				</div>
			</div>
		</div>
		<!-- Form controls -->
	</div>
</div>
