<div class="container-xxl flex-grow-1 container-p-y">
	<div class="row">
		<div class="col-lg-10 col-sm-12 mx-auto">
			<div class="card mb-3">
				<div class="card-body demo-vertical-spacing demo-only-element">
					<div class="flex">
						<div class="row">
							<div class="col-lg-10 col-sm-12">
								<div class="d-flex flex-column flex-grow-1 gap-2">
									<div class="d-flex flex-column gap-2">
										<h2 class="card-title fw-bold mb-0"><%= @url.title %></h2>
										<div class="d-flex flex-row gap-3">
											<div class="d-flex align-items-center justify-content-center  rounded-circle">
												<img src="<%= @favicon_url %>" class="rounded-circle border border-secondary border-1" alt="icon">
											</div>
											<div class="d-flex flex-column flex-grow-1 gap-2">
												<a href="<%= @url.short_url %>" class="text-primary fs-5" target="_blank"><%= @url.show_url %></a>
												<%#= link_to @url.short_code, '/' + @url.short_code %>
												<h5 class="text-black fs-6 "><%= @url.long_url %></h5>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2 d-none d-sm-block">
								<div class="d-flex flex-row align-items-start justify-content-end gap-2">
									<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
										<div class="btn-group me-2" role="group" aria-label="First group">
											<button type="button" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-original-title="" class="btn btn-sm btn-outline-secondary">
												<i class="tf-icons bx bx-copy fw-bold"></i> Copy
											</button>
										</div>
										<div class="btn-group me-2" role="group" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-original-title="Share Link" aria-label="Third group">
											<button type="button" class="btn btn-sm btn-outline-secondary">
												<i class="tf-icons bx bxs-share-alt fw-bold"></i>
											</button>
										</div>
										<div class="btn-group " role="group">
											<button type="button" class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
												<i class="bx bx-dots-vertical-rounded"></i>
											</button>
											<ul class="dropdown-menu dropdown-menu-end" style="">
												<li><a class="dropdown-item" href="<%= account_url_path(@url) %>">Link Details</a></li>
												<li><a class="dropdown-item" href="<%= edit_account_url_path(@url) %>">Edit Link</a></li>
												<li><a class="dropdown-item text-danger" href="<%= account_url_path(@url) %>" data-turbo-confirm="Are you sure?" data-turbo-method="delete">Delete Link</a></li>
												<li>
													<hr class="dropdown-divider">
												</li>
												<li><a class="dropdown-item" href="javascript:void(0);">Separated link</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<%#  %>
						<hr class="d-none d-sm-block">
						<div class="col-lg-4 col-md-6 col-sm-12">
							<span>
								<i class='bx bx-calendar-event'></i> <%= @url.created_at.strftime('%b %d, %Y : %H:%M:%S %p %Z') %>
							</span>
						</div>
						<div class="col d-sm-block d-md-none">
							<hr>
							<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
								<div class="btn-group me-2" role="group" aria-label="First group">
									<button type="button" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-original-title="" class="btn btn-sm btn-outline-secondary">
										<i class="tf-icons bx bx-copy fw-bold"></i> Copy
									</button>
								</div>
								<div class="btn-group me-2" role="group" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-original-title="Share Link" aria-label="Third group">
									<button type="button" class="btn btn-sm btn-outline-secondary">
										<i class="tf-icons bx bxs-share-alt fw-bold"></i>
									</button>
								</div>
								<div class="btn-group " role="group">
									<button type="button" class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="bx bx-dots-vertical-rounded"></i>
									</button>
									<ul class="dropdown-menu dropdown-menu-end" style="">
										<li><a class="dropdown-item" href="<%= account_url_path(@url) %>">Link Details</a></li>
										<li><a class="dropdown-item" href="<%= edit_account_url_path(@url) %>">Edit Link</a></li>
										<li><a class="dropdown-item text-danger" href="<%= account_url_path(@url) %>" data-turbo-confirm="Are you sure?" data-turbo-method="delete">Delete Link</a></li>
										<li>
											<hr class="dropdown-divider">
										</li>
										<li><a class="dropdown-item" href="javascript:void(0);">Separated link</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%# card two %>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="card mb-3">
						<div class="card-body d-flex justify-content-between">
							<% if @url.click_count == 1 %>
								<span class="fs-5">Click</span>
							<% else %>
								<span class="fs-5">Clicks</span>
							<% end %>
							<span class="fs-4 fw-bold"><%= @url.click_count %></span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="card mb-3">
						<div class="card-body d-flex justify-content-between">
							<span class="fs-5">Last 7 Days</span>
							<span class="fs-4 fw-bold"><%= @clicks_last_7_days %></span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="card mb-3">
						<div class="card-body d-flex justify-content-between">
							<span class="fs-5">Weekly Change</span>
							<span class="fs-4 fw-bold">
								<i class='bx bx-trending-up'></i>
								<%= @weekly_change_percentage %>%
							</span>
						</div>
					</div>
				</div>
			</div>
			<%# card three %>
			<div class="card mb-3">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-2 col-md-3 col-sm-12 text-center">
							<div class="fs-4 text-dark">Qr Code</div>
							<% if @url.qr_code_png.attached? %>
								<%= image_tag url_for(@url.qr_code_png), size: "160x160" %>
							<% else %>
								<%= image_tag "https://img.freepik.com/premium-vector/qr-code-vector-icon_389832-989.jpg", width: 160, height: 160, class: "img-rounded" %>s
							<% end %>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-12 text-center">
							<div class="demo-vertical-spacing">
								<div class="">
									<span class="text-dark fs-4 ms-2"><%= @scanned_qr_count %></span> Total Scan
								</div>
								<div class="d-block">
									<% if @url.qr_code.attached? %>
										<%= link_to rails_blob_path(@url.qr_code, disposition: "attachment"), class: "btn btn-sm btn-primary" do %>
											<span class="tf-icons bx bx-import"></span>&nbsp; Download svg
										<% end %>
									</div>
								<% end %>
								<% if @url.qr_code_png.attached? %>
									<div class="d- mb-0">
										<%= link_to rails_blob_path(@url.qr_code_png, disposition: "attachment"), class: "btn btn-sm btn-primary" do %>
											<span class="tf-icons bx bx-import"></span>&nbsp; Download png
										<% end %>
									</div>
								<% end %>
								<% if @url.qr_code_jpg.attached? %>
									<div class="d-block">
										<%= link_to rails_blob_path(@url.qr_code_jpg, disposition: "attachment"), class: "btn btn-sm btn-primary" do %>
											<span class="tf-icons bx bx-import"></span>&nbsp; Download jpg
										<% end %>
									</div>
								<% end %>
							</div>
						</div>
						<div class="col-lg-8 col-md-6 col-sm-12 d-flex flex-column ">
							<span class="mb-2">Sponsored Ads</span>
							<div class="card-body bg-secondary text-white text-center mb-3 flex-grow-1">
								<div>Sponsored Content</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%#  %>
			<div class="card mb-3">
				<h5 class="card-header">Locations</h5>
				<div class="table-responsive text-nowrap mt-0">
					<table class="table table-borderless mb-3">
						<thead>
							<tr class="border-bottom">
								<th>S/N</th>
								<th>Country</th>
								<%# <th>Region</th> %>
								<th>city</th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th>clicks</th>
								<th class="fs-4">%</th>
							</tr>
						</thead>
						<tbody>
							<% click_counts = Click.where(url_id: @url.id).group(:country, :region, :city).count %>
							<% total_clicks = click_counts.values.sum %>
							<% if click_counts.present? %>
								<% click_counts.each_with_index do |((country, region, city), count), index| %>
									<tr>
										<td><strong><%= index + 1 %></strong></td>
										<td><%= country.present? ? country : "Unknown" %></td>
										<td><%= city.present? ? city : "Unknown" %></td>
										<!-- <td><%= city.present? ? city : "Unknown" %></td> -->
										<td colspan="10">
											<div class="progress" style="height: 7px; width: 100%;">
												<div class="progress-bar" role="progressbar" style="width: <%= ((count.to_f / total_clicks) * 100).round(2) %>%" aria-valuenow="<%= ((count.to_f / total_clicks) * 100).round(2) %>" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</td>
										<td><%= count.to_i %></td>
										<% percentage = ((count.to_f / total_clicks) * 100) %>
										<td><%= (percentage % 1 == 0) ? percentage.to_i : number_with_precision(percentage, precision: 2) %>%</td>
									</tr>
								<% end %>
							<% else %>
								<tr>
									<td colspan="14" class="text-center fs-4 fw-semibold">No Data</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
			<%#  %>
			<div class="row">
				<div class="col-md-6 col-lg-6 col-xl-6 order-0 mb-4">
					<div class="card h-100">
						<div class="card-header d-flex align-items-center justify-content-between pb-0">
							<div class="card-title mb-0">
								<h5 class="m-0 me-2">Link Stats</h5>
							</div>
						</div>
						<div class="card-body">
							<div class="d-flex justify-content-between align-items-center mb-3" style="position: relative;">
								<div class="d-flex flex-column align-items-center gap-1">
									<h2 class="mb-2"><%= @url.click_count %></h2>
									<span>Cliks</span>
								</div>
								<div id="orderStatisticsChart" style="min-height: 154.583px;">
								</div>
								<div class="resize-triggers">
									<div class="expand-trigger">
										<div style="width: 398px; height: 156px;"></div>
									</div>
								</div>
							</div>
							<ul 
								class="p-0 m-0" 
								id="chartData" 
								data-clicks-count="<%= @clicks_count %>"
								data-scan-qr-count="<%= @scanned_qr_count %>" 
								data-total-clicks-count="<%= @url.click_count %>"
							 >
								<li class="d-flex mb-4 pb-1">
									<div class="avatar flex-shrink-0 me-3">
										<span class="avatar-initial rounded bg-label-primary"><i class="bx bx-link"></i></span>
									</div>
									<div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
										<div class="me-2">
											<h6 class="mb-0">Clicks</h6>
										</div>
										<div class="user-progress">
											<small class="fw-semibold"><%= @clicks_count %></small>
										</div>
									</div>
								</li>
								<li class="d-flex mb-4 pb-1">
									<div class="avatar flex-shrink-0 me-3">
										<span class="avatar-initial rounded bg-label-info"><i class="bx bx-qr-scan"></i></span>
									</div>
									<div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
										<div class="me-2">
											<h6 class="mb-0">Scan</h6>
										</div>
										<div class="user-progress">
											<small class="fw-semibold"><%= @scanned_qr_count %></small>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<%# chart-two %>
				<div class="col-md-6 col-lg-6 col-xl-6 order-0 mb-4">
					<div class="card h-100">
						<div class="card-header d-flex align-items-center justify-content-between pb-0">
							<div class="card-title mb-0">
								<h5 class="m-0 me-2">Device</h5>
							</div>
						</div>
						<div class="card-body">
							<div class="d-flex justify-content-between align-items-center mb-3" style="position: relative;">
								<div class="d-flex flex-column align-items-center gap-1">
									<% device_counts = Click.where(url_id: @url.id).group(:device).count %>
									<h2 class="mb-2"><%= device_counts.keys.count %></h2>
								</div>
								<div id="orderStatisticsChart1" style="min-height: 154.583px;">
								</div>
								<div class="resize-triggers">
									<div class="expand-trigger">
										<div style="width: 398px; height: 156px;"></div>
									</div>
									<div class="contract-trigger"></div>
								</div>
							</div>
							<ul class="p-0 m-0" 
								id="chartDeviceData" 
								data-desktop-count="<%= device_counts["Desktop"] || 0 %>" 
								data-tablet-count="<%= device_counts["Tablet"] || 0 %>" 
								data-mobile-count="<%= device_counts["Mobile"] || 0 %>"
								data-total-device-count="<%= device_counts.keys.count %>"
								>
								<% if device_counts.present? %>
									<% device_counts.each do |device, count| %>
										<li class="d-flex mb-4 pb-1">
											<% if device == "Desktop" %>
												<div class="avatar flex-shrink-0 me-3">
													<span class="avatar-initial rounded bg-label-primary"><i class="bx bx-desktop"></i></span>
												</div>
												<div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
													<div class="me-2">
														<h6 class="mb-0"><%= device.present? ? device : "Unknown" %></h6>
														<small class="text-muted">Laptops, Tv's, etc </small>
													</div>
													<div class="user-progress">
														<small class="fw-semibold"><%= count %></small>
													</div>
												</div>
											<% elsif device == "Tablet" %>
												<div class="avatar flex-shrink-0 me-3">
													<span class="avatar-initial rounded bg-label-secondary"><i class="bx bx-tab"></i></span>
												</div>
												<div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
													<div class="me-2">
														<h6 class="mb-0">Tablet</h6>
														<small class="text-muted">Ipad, Tabs, etc</small>
													</div>
													<div class="user-progress">
														<small class="fw-semibold"><%= count %></small>
													</div>
												</div>
											<% elsif device == "Mobile" %>
												<div class="avatar flex-shrink-0 me-3">
													<span class="avatar-initial rounded bg-label-info"><i class="bx bx-mobile-alt"></i></span>
												</div>
												<div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
													<div class="me-2">
														<h6 class="mb-0">Mobile</h6>
														<small class="text-muted">Iphone, Samsung, etc</small>
													</div>
													<div class="user-progress">
														<small class="fw-semibold"><%= count %></small>
													</div>
												</div>
											<% else %>
												<div class="avatar flex-shrink-0 me-3">
													<span class="avatar-initial rounded bg-label-info"><i class="bx bx-mobile-alt"></i></span>
												</div>
												<div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
													<div class="me-2">
														<h6 class="mb-0">Unknown</h6>
														<small class="text-muted">Unknown</small>
													</div>
													<div class="user-progress">
														<small class="fw-semibold"><%= count %></small>
													</div>
												</div>
											<% end %>
										</li>
									<% end %>
								<% else %>
									<li class="d-flex justify-content-center align-items-center mb-4 pb-1">
										<div class="w-100">
											<div class="me-2">
												<h6 class="mb-0 text-center fs-4 fw-semibold">No Data</h6>
											</div>
										</div>
									</li>
								<% end %>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<%#  %>
			<div class="card mb-3">
				<h5 class="card-header">Operating Systems</h5>
				<div class="table-responsive text-nowrap mt-0">
					<table class="table table-borderless mb-3">
						<thead>
							<tr class="border-bottom">
								<th>S/N</th>
								<th>OS</th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th>clicks</th>
								<th class="fs-4">%</th>
							</tr>
						</thead>
						<tbody>
							<% click_counts = Click.where(url_id: @url.id).group(:os).count %>
							<% total_clicks = click_counts.values.sum %>
							<% if click_counts.present? %>
								<% click_counts.each_with_index do |(os, count), index| %>
									<tr>
										<td><strong><%= index + 1 %></strong></td>
										<td><%= os.present? ? (os.downcase.include?('os') && !os.downcase.include?('ios') ? 'Mac OS' : os) : "Unknown" %></td>
										<td colspan="10">
											<div class="progress" style="height: 7px; width: 100%;">
												<div class="progress-bar" role="progressbar" style="width: <%= ((count.to_f / total_clicks) * 100).round(2) %>%" aria-valuenow="<%= ((count.to_f / total_clicks) * 100).round(2) %>" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</td>
										<td><%= count.to_i %></td>
										<% percentage = ((count.to_f / total_clicks) * 100) %>
										<td><%= (percentage % 1 == 0) ? percentage.to_i : number_with_precision(percentage, precision: 2) %>%</td>
									</tr>
								<% end %>
							<% else %>
								<tr>
									<td colspan="14" class="text-center fs-4 fw-semibold">No Data</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>