<div class="container-xxl flex-grow-1 container-p-y">
	<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Trade /</span> Active Trade</h4>
	<div class="row">
		<div class="card">
			<div class="col-md-3">
				<form action="">
					<div class="input-group mt-3 mb-2">
						<input type="text" class="form-control" placeholder="Search User..." aria-label="Search User..." aria-describedby="button-addon2">
						<button class="btn btn-primary" type="submit" id="button-addon2" data-turbo="false">
							<span class="tf-icons bx bx-search-alt"></span>
							Search
						</button>
					</div>
				</form>
			</div>
			<div class="table-responsive text-nowrap">
				<table class="table table-striped mb-3">
					<thead>
						<tr>
							<th>Ref No</th>
							<th>Email</th>
							<th>Amount</th>
							<th>Currency Pair</th>
							<th>Duration</th>
							<th>Date</th>
							<th>Trade Type</th>
							<th>Profit/Loss</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody class="table-border-bottom-0">
						<% if @active_trades.present? %>
							<% @active_trades.each do |trade| %>
								<tr>
									<td><strong><%= trade.order_id %></strong></td>
									<td><%= trade.account.email %></td>
									<td><%= number_to_currency(trade.amount, precision: 2) %></td>
									<td><%= trade.currency_pair.base_currency %> / <%= trade.currency_pair.quote_currency %></td>
									<td><%= trade.time_duration %></td>
									<td><%= trade.created_at.strftime("	%d-%m-%Y ") %> </td>
									<td>
										<% if trade.trade_type == "buy" %>
											<span class="badge bg-label-success me-1"><%= trade.trade_type %></span>
										<% elsif trade.trade_type == "sell" %>
											<span class="badge bg-label-danger me-1"><%= trade.trade_type %></span>
										<% end %>
									</td>
									<td>
										<% if trade.status == "completed" %>
											<%= number_to_currency(trade.profit_loss, precision: 2) %>
										<% elsif trade.status == "cancelled" %>
											<%= number_to_currency(trade.profit_loss, precision: 2) %>
										<% else %>
											$-.--
										<% end %>
									</td>
									<td>
										<span class="badge bg-label-warning me-1"><%= trade.status %></span>
									</td>
									<td>
										<button type="button" class="btn btn-sm btn-outline-danger">
											<span class="tf-icons bx bx-candles"></span>&nbsp; End Trade
										</button>
									</td>
								</tr>
							<% end %>
						<% else %>
							<tr >
								<td colspan="10" class="text-center fs-3 ">No Active Trades </td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<%# pagination %>
	<%= render 'admin/shared/pagy', locals: {pagy: @pagy} %>
	<!-- Basic Pagination -->
</div>
